@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "../../bower_components/components-font-awesome/less/font-awesome.less";
@import (inline) "../../bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css";

.bigfont {
  font-size: 60px;
  text-align: center;
}

.trend-up {
  color: green;
  font-size: 30px;
  text-align: center;
}

.trend-right {
  color: grey;
  font-size: 30px;
  text-align: center;
}

.trend-down {
  color: red;
  font-size: 30px;
  text-align: center;
}

// Boostrap overwriting
.navbar-default {

  background-color: #4EA3D0;
  border-bottom-color: #4EA3D0;

  .navbar-brand, .navbar-brand:hover, .navbar-nav > li > a  {
    color: white;
  }
}
