h1 Ranking

table.table

  thead
    tr
      th Classement
      th Profile
      th Bio
      th Followers
  tbody
    tr(ng-repeat="rider in riders")
      td {{ $index + 1 }}
      td
        img.img-rounded(src="{{ rider.profilePicture }}")
      td
        p
          b {{ rider.name }}
          a(ng-href="http://instagram.com/{{ rider.username }}")  @{{ rider.username }}
        p {{ rider.bio }}
        p
          a(ng-href="{{ rider.website }}") {{ rider.website }}
      td {{ rider.followers }}
