.row(style="margin-top: 20px")
  .col-md-6.col-md-offset-3.well
    form(role="form", ng-submit="addProposal()")
      .input-group
        input.form-control(type="text", ng-model="newProposal.username", placeholder="@harrymain" autofocus)
        span.input-group-btn
          button.btn.btn-primary(type="submit") Add rider account !

.input-group
 span.input-group-addon
   i.fa.fa-calendar
 input(date-range-picker class="form-control date-picker" type="text" ng-model="dateRange")

table.table
  thead
    tr
      th Rank
      th Profile
      th Bio
      th Followers
  tbody
    tr(ng-repeat="rider in riders")
      td.bigfont {{ $index + 1 }}
      td
        img.img-rounded(src="{{ rider.profilePicture }}")
      td.graph-box
        nvd3.graph(ng-if="rider.metrics", options='options' data='[rider.metrics]')
        .info
          p
            b {{ rider.name }}
            a(ng-href="http://instagram.com/{{ rider.username }}")  @{{ rider.username }}
          p(ng-bind-html="rider.bio | linky | instagram")
          p
            a(ng-href="{{ rider.website }}") {{ rider.website }}
      td
        .bigfont {{ rider.followers | numeraljs:'0,0' }}
        .trend-up(ng-if="rider.trend > 0")
          i.fa.fa-arrow-up
          |  {{ rider.trend | numeraljs:'0.00 %' }}
        .trend-right(ng-if="rider.trend == 0")
          i.fa.fa-arrow-right
          |  {{ rider.trend| numeraljs:'0.00 %' }}
        .trend-down(ng-if="rider.trend < 0")
          i.fa.fa-arrow-down
          |  {{ rider.trend| numeraljs:'0.00 %' }}
