.row(style="margin-top: 20px")
  .col-md-6.col-md-offset-3.well
    form(role="form", ng-submit="addProposal()")
      .input-group
        input.form-control(type="text", ng-model="newProposal.username", placeholder="@harrymain" autofocus)
        span.input-group-btn
          button.btn.btn-primary(type="submit") Add rider account !

.input-group
 span.input-group-addon
   i.fa.fa-calendar
 input(date-range-picker class="form-control date-picker" type="text" ng-model="dateRange")

.panel.panel-default(iuser-panel, ng-repeat="rider in riders", rider="rider", position="$index +1")
