doctype html
html(lang="en", ng-app="angularParseBoilerplate")
  head
    title Most Popular BMX Riders on Instagram
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/app.css")

  body
    nav.navbar.navbar-default(role="navigation")
      .container
        .navbar-header
          a.navbar-brand(href="http://karmabmx.com")
            img(alt="Karmabmx", src="img/K.jpg", height=25)
            |  Karmabmx.com

    main.container(ui-view)

    script(src="js/vendor.js")
    script(src="js/templates.js")
    script(src="js/app.js")
