doctype html
html(lang="en", ng-app="angularParseBoilerplate")
  head
    title Most Popular BMX Riders on Instagram
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/app.css")

  body
    nav.navbar.navbar-default(role="navigation")
      .container
        .navbar-header
          a.navbar-brand(href="http://karmabmx.com")
            img(alt="Karmabmx", src="img/K.jpg", height=25)
            |  Karmabmx.com
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href="http://karmabmx.com")
                i.glyphicon.glyphicon-facetime-video
                |  Videos
            li
              a(href="http://lifestyle.karmabmx.com")
                i.glyphicon.glyphicon-picture
                |  Lifestyle
            li
              a(href="http://riders.karmabmx.com")
                i.glyphicon.glyphicon-sort
                |  Instagram Ranking

    main.container(ui-view)

    script(src="js/vendor.js")
    script(src="js/templates.js")
    script(src="js/app.js")

    script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-48818817-3', 'auto');
    script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5468b84114d45c31', async='async')
